@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #000;
}

.nav-user ul {
    margin-top: 40px;
    margin-bottom: 30px;
}

.nav-user ul a {
    text-decoration: none;
}

.nav-user ul li {
    color: white;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 14px;
    border-radius: 100px;
    border: solid 1px #FFF;
    max-width: fit-content;
        margin: 0px 20px;
}

.nav-user ul li:hover {
    background-color: #FFF;
    border-radius: 100px;
    border: solid 1px #FFF;
    color: #000;
}

.nav-user ul .logo {
    font-size: 20px;
    border: solid 1px #000;
}

.nav-user ul .logo:hover {
    border: solid 1px #000;
    color: #FFF;
    background-color: #00000000;
}

.container {
    height: 550px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: blue; */
        margin-top: 50px;
}

.cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    /* background-color: red; */
    display: flex;
        margin: 10px;
}

.kiri {
    /* background-color: green; */
    width: 140px;
    height: 165px;
}

.kiri img {
    height: 165px;
}

.kanan {
    /* background-color: yellow; */
    width: 240px;
    height: 165px;
}

.kanan .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    text-align: left;
        margin-top: 5px;
}

.kanan .creator {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFF;
    text-align: left;
        margin-top: -20px;
}

.kanan ul {
    margin-left: -40px;
    margin-top: 0px;
}

.kanan a {
    text-decoration: none;
}

.kanan a:hover {
    color: #5abf6d;
    max-width: fit-content;
    display: block;
}

.kanan .title:hover {
    color: #5abf6d;
    max-width: fit-content;
    display: block;
}

.kanan ul li {
    list-style: none;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFF;
    text-align: left;
}

.showmore {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #FFF;
    border: solid 1px #FFF;
    border-radius: 100px;
    display: block;
        padding: 3px 15px;
        max-width: fit-content;
        margin-top: 50px;
}

.showmorelink {
    display: block;
    max-width: fit-content;
    text-decoration: none;
}

.showmore:hover {
    background-color: #FFF;
    color: #000;
}


.footercoi {
    display: flex;
    justify-content: space-between;
    margin: 0px 140px;
    margin-top: 120px;
}

.footercoi div {
    width: 160px;
    height: 300px;
    /* background-color: red; */
    font-family: 'Montserrat', 'sans-serif';
}

.footercoi div ul li {
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
}

.footercoi .footlogo {
    width: 260px;
    height: 250px;
}

.footercoi .footlogo div {
    height: 125px;
    width: 260px;
}

.footercoi .footlogo .ea {
    /* background-color: blue; */
    display: flex;
}

.footercoi .footlogo .ea img {
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.footercoi .footlogo .ea .wikbooksfoot {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 16px;
    color: #FFF;
    position: absolute;
    margin-left: 85px;
    margin-top: -58px;
}

.eaa {
    margin-top: -50px;

}

.judul2-ea {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 10px;
    color: #FFF;
    margin-left: 28px;
    padding-top: 10px;
}

.desk2-ea {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 10px;
    color: #FFF;
    margin-left: 28px;
}

.footercoi .footlogo .ea .wikbooksfoot2 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 10px;
    color: #FFF;
    position: absolute;
    margin-left: 87px;
    margin-top: -33px;
}


.footercoi div ul p {
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.footercoi div ul li a {
    text-decoration: none;
    color: #FFF;
}

.footercoi div ul li a:hover {
    color: #5abf6d;
}